# Игнорировать файлы с расширением .pyc (байт-код Python)
*.pyc

# Игнорировать директории, созданные виртуальными окружениями Python (например, virtualenv, venv)
/venv/
/.venv/

# Игнорировать файлы и директории, созданные средствами сборки Python (например, setuptools, dist)
/build/
/dist/
/*.egg-info/

# Игнорировать файлы, которые содержат личные данные (например, конфигурационные файлы с паролями)
config.ini
secrets.json

# Игнорировать файлы, связанные с IDE и редакторами кода (например, файлы настроек и временные файлы)
.idea/
.vscode/
*.swp
*.swo

